<!--
	Well you've stumbled upon the source code of my Node/React based site. It must mean your a person of great knowledge and wisdom, I applaud your efforts! LOL, ok you're probably someone that might be looking into my portfolio from a company or recruitment office or maybe just a collegue checking up on my skillzzz. Anyway I hope you enjoy the site and if we get to chat, let me know you found this, lol, lets me know that you care ♥️.
-->
<!DOCTYPE html>
<html>
<head>
	<?- include(`${views_root}/build/head`) ?>
</head>
<body>
	<div id="react_app"></div>
	<?- include(`${views_root}/build/foot`) ?>
</body>
</html>